
*{
    font-family: 'Charis SIL', serif;
}
body {
 
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;

    background-image: url('https://images.unsplash.com/photo-1554034483-04fda0d3507b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8d2FsbHBhcGVyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
    background-size: 100% 100%;
   
  }
.first{
   
        background-color: #bde0fe;
    
        padding: 5%;
        border-radius: 5%;
   
    
}

#start{
    background-color: #29a0ad5d;
}
#answerSubmit{
    margin: 10px;
}




